* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #home { */
/* background-image: linear-gradient(
    15deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  ); */
/* min-height: 90.1vh; */
/* } */
.head {
  margin: 2%;
  font-size: 4rem;
  margin-left: 0%;
  color: rgb(73, 73, 204);
}
main {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
.head-buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.button-e {
  box-shadow: 0.1em 0.1em 0.4em 0;
  width: 6rem;
  background: rgb(93, 120, 172);
  border: 0;
  height: 2.5rem;
  border-radius: 0.7em;
}
button {
  cursor: pointer;
}
.box {
  position: absolute;
  bottom: 1000rem;
  border-radius: 1em;
  background: transparent;
  backdrop-filter: blur(10px);
  overflow: hidden;
  left: 33%;
  width: 40rem;
  min-height: 30rem;
  border: 1px solid;
  box-shadow: 0.1em 0.1em 0.9em 0.1em rgb(73, 73, 73);
}
.input-box {
  margin: 3%;
  display: grid;
}
label {
  font-size: 1.6rem;
  margin: 1.3%;
}
#title {
  letter-spacing: 0.15cap;
  height: 1rem;
  font-size: 1.5rem;
  padding: 3%;
  border-radius: 0.3em;
}
#description {
  border-radius: 0.3em;
  min-height: 2rem;
  font-size: 1.6rem;
  padding: 3%;
}
#close {
  position: relative;
  height: 2rem;
  width: 2rem;
  left: 97.8%;
  bottom: 62%;
  border: 0px solid;
}
#close:hover {
  background: rgb(241, 72, 72);
}
#Addbutton {
  height: 4rem;
  border-radius: 0.2em;
  background: rgb(93, 120, 172);
  border: 0 solid;
  font-size: 1.6rem;
}
.active {
  bottom: 25%;
}
.editActive {
  bottom: 25%;
}
#submit {
  display: flex;
  justify-content: end;
}
.close {
  display: none;
}
.form1 {
  position: absolute;
  left: 46%;
  border: 1px solid;
  padding: 1%;
  top: -6rem;
  border-radius: 0.5em;
  /* top: 1px; */
  background: rgb(68, 238, 125);
}
.form2 {
  position: absolute;
  border-radius: 0.5em;
  left: 42%;
  border: 1px solid;
  padding: 1%;
  top: -6rem;
  /* top: 1px; */
  background: rgb(219, 108, 88);
}
.alert {
  top: 1px;
}
.note {
  backdrop-filter: blur(-100%);
  margin-top: 2%;
  border: 1px solid rgb(192, 192, 192);
  padding: 13px;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.8em 0.1em rgb(224, 169, 203);
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  cursor: pointer;
  height: 6rem;
  align-items: center;
}
.note:hover {
  background: rgb(117, 117, 211);
}
#list {
  margin-bottom: 3%;
}
.note-titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date {
  width: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.month {
  font-size: 2.4rem;
}
.day {
  font-size: 1.6rem;
}
.note-title {
  display: flex;
  justify-content: start;
  width: 20rem;
  font-size: 2rem;
  margin-left: 4%;
  margin-bottom: 1%;
}
.note-desc {
  margin-left: 4%;
  width: 30rem;
  font-size: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.note-box {
  position: absolute;
  bottom: 80rem;
  border-radius: 1em;
  background: transparent;
  backdrop-filter: blur(15px);
  left: 28%;
  border: 1px solid;
  height: 45rem;
  width: 55rem;
  justify-content: center;
  overflow: hidden;
}
.active1 {
  bottom: 20%;
}
.title-open {
  padding-left: 3%;
  width: 70%;
  height: 5rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.desc-open {
  width: 100%;
  min-height: 60%;
  width: auto;
  padding: 4%;
  font-size: 1.6rem;
}
.close-open {
  position: relative;
  left: 95%;
  top: 1.3%;
  height: 2rem;
  width: 2rem;
}
.close-open:hover {
  background: rgb(241, 72, 72);
  border: 0;
}
.taskBtn button {
  height: 2rem;
  width: 7rem;
  background: #c0324a;
  color: white;
  border: 0;
  border-radius: 0.3em;
  margin-top: 2%;
}
.completed {
  border: 0;
  border-radius: 0.3em;
  height: 2rem;
  width: 10rem;
  background: #ffffff;
  display: flex;
  justify-content: center;
  padding-left: 6%;
  align-items: center;
}
.taskBtn {
  /* margin-top: -3.7%; */
  column-gap: 2px;
  height: 5rem;
  /* width: 10rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttons {
  /* background: #000 ; */
  width: 20rem;
}
/* .input-box-edit{ */

/* } */
.box-edit {
  position: absolute;
  border: 1px solid;
  height: 40rem;
  width: 40rem;
  border-radius: 0.5em;
  top: -80%;
  backdrop-filter: blur(15px);
}
.forms2 {
  position: absolute;
  border: 1px solid;
}
#closeEdit {
  position: relative;
  bottom: 9.5%;
  /* top: 100%; */
  left: 95.3%;
  height: 2rem;
  width: 2rem;
  border: 0;
  border-radius: 0.4em;
}
.input-box-edit {
  padding: 3%;
  display: flex;
  flex-direction: column;
}
#title-Edit {
  font-size: 1.5rem;
  border: 0;
  height: 2rem;
  padding: 0.3em 0.6em;
  border-radius: 0.2em;
}
#description-edit {
  height: 23rem;
  font-size: 1.5rem;
  border-radius: 0.2em;
  border: 0;
  padding: 0.2em 0.4em;
}
.editActive {
  top: 15%;
  transition: 0.5s;
}
#submitBtn {
  width: 4rem;
  font-size: 1.3rem;
  margin-top: 3%;
  margin-bottom: 0;
  background-color: rgb(93, 120, 172);
  border-radius: 0.4em;
  height: 3rem;
}

@media screen and (max-width: 800px) {
  .input-box label {
    font-size: 1rem;
  }
  #title {
    width: 100%;
    height: 1.9rem;
    font-size: 1rem;
  }
  #description {
    height: 90%;
    margin: 0;
  }
  #submitBtn {
    margin-top: -7%;
  }
  #close {
    left: 87%;
    top: 0;
  }
  .head {
    font-size: 3rem;
  }
  .taskBtn {
    margin: 0;
    width: 0;
    height: 5rem;
    /* margin-left: 4%; */
  }
  main {
    margin: 2%;
    padding: 0;
  }
  .button-e {
    font-size: 0.9rem;
    width: 5rem;
    border-radius: 0.3em;
    height: 2rem;
  }
  .allBtn {
    width: 2.4rem;
  }
  #Addbutton {
    width: 3rem;
    font-size: 0.9rem;
    height: 2rem;
  }
  .head-buttons {
    margin: 4% 0 8% 0;
  }
  .month {
    font-size: 1.3rem;
  }
  .date {
    font-size: 1rem;
  }
  .note-desc {
    display: none;
  }
  .note-title {
    /* overflow: hidden; */
    font-size: 1.4rem;
    width: 9.9rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .note {
    padding: 0;
    margin: 1%;
  }
  .taskBtn button {
    height: 1.3rem;
    width: 5rem;
  }
  .note-titles {
    width: fit-content;
    gap: 10%;
  }
  * {
    box-sizing: border-box;
  }
  .box {
    width: 19rem;
    height: 35%;
  }
  .note-box {
    /* padding: 0 2% 0 2%; */
    left: 50%;
    /* top: 20%; */
    transform: translateX(-50%);
    width: 20rem;
    height: 30rem;
  }
  .close-open {
    width: 2rem;
    height: 2rem;
    left: 87%;
  }
  .title-open{
    font-size: 1rem;
  }
  .desc-open{
    font-size: 1rem;
  }
  /* .editActive {
    top: 20%;
  } */
}
